<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.pulse.mapper.ProdutoMapper">

    <resultMap id="resultProdutos" type="br.com.pulse.model.Produto">
        <result column="id_produto" property="id"/>
        <result column="descricao" property="descricao"/>
    </resultMap>

    <sql id="cols">
        p.id id_produto,
        p.descricao descricao
    </sql>

    <select id="getProdutosByQuantidade" resultMap="resultProdutos" resultType="br.com.pulse.model.Produto">
        select
             <include refid="cols"></include>
        from produto p
              inner join estoque e
              on e.fk_produto = p.id
        <if test="quantidade != null">
        where e.quantidade_produtos = #{quantidade};
        </if>
</select>

    <select id="getProdutosByFilial" resultMap="resultProdutos" resultType="br.com.pulse.model.Produto">
        select
        <include refid="cols"></include>
        from produto p
        inner join estoque e
        on e.fk_produto = p.id
        where e.fk_filial = #{idFilial};
    </select>
</mapper>